// Theme

// Colors
$hue-color: 206;
$black-color: hsl($hue-color, 4%, 4%);
$black-color-alt: hsl($hue-color, 4%, 8%);
$title-color: hsl($hue-color, 4%, 95%);
$text-color: hsl($hue-color, 4%, 75%);
$text-color-light: hsl($hue-color, 4%, 65%);
$white-color: #FFF;
$body-color: hsl($hue-color, 4%, 6%);
$container-color: hsl($hue-color, 4%, 10%);
$text-gradient: linear-gradient(hsl($hue-color, 4%, 24%), 4%, 24%);
$scroll-thumb-color: hsl($hue-color, 4%, 16%);
$scroll-thumb-color-alt: hsl($hue-color, 4%, 20%);

